ul{
  margin-left:2em;
}
iframe{
  border:none;
}
.flex-parent-row{
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  &.wrap{
    flex-flow:row wrap;
  }
  &.start{
    align-items:flex-start;
  }
  &.end{
    align-items:flex-end;
  }
}
.flex-parent-column{
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  &.wrap{
    flex-flow:column wrap;
  }
}
.flex-row-center{
  justify-content:center;
}
.flex-row-end{
  justify-content:flex-end;
}
.flex-row-space-between{
  justify-content:space-between;
}
.flex-row-space-around{
  justify-content:space-around;
}
.flex-child-expand{
  flex:1 1 auto;
}
.flex-child-end{
  align-self:flex-end;
}
.flex-child-start{
  align-self:flex-start;
}
.mobile-only{
  display:none;
}

@media(max-width:414px){
  .desktop-only{
    display:none;
  }
  .mobile-only{
    display:block;
  }
}
