.project-pane{
  height:500px;
  background-color:rgba(255,255,255,.7);
  position:relative;
  overflow:hidden;
  display:inline-block;
  margin-bottom:15px;
  &:last-child{
    margin:0;
  }
}
.project-pane:hover{
    cursor:pointer;
}
.project-pane:hover .overlay-pane{
    opacity:1;
    -webkit-transform: translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
.project-pane:hover .overlay-bg{
    opacity:1;
    -webkit-transform:scale(3) rotateZ(30deg) translate3d(0,0,0);
    transform:scale(3) rotateZ(30deg) translate3d(0,0,0);
}
.project-pic{
    height:100%;
    position:relative;
}
.project-pic img{
    height:100%;
    width:auto;
}
.text-pane{
    padding:10%;
}
.overlay-pane{
  position:absolute;
  height:100%;
  width: 100%;
  top: 0;
  opacity:0;
  -webkit-transition:opacity .2s ease, -webkit-transform .2s ease;
  transition:opacity .2s ease, transform .2s ease;
  -webkit-transform:translate3d(0,30px,0);
  transform:translate3d(0,30px,0);
}
.overlay-bg{
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: scale(3) rotateZ(30deg) translate3d(-100%, 50%, 0);
  transform: scale(3) rotateZ(30deg) translate3d(-100%, 50%, 0);
  -webkit-transition:opacity .8s ease, -webkit-transform .5s ease-out;
  transition: opacity .8s ease, transform .5s ease-out;
  left: 0;
  top: 0;
  z-index:0;
}
.proj-descript{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:3em;
    color:#fff;
    z-index:1;
    text-align: left;
}

.descript-line{
    width:50px;
    max-width:100%;
    height:3px;
    background-color:teal;
    margin-bottom:10px;
}

.double-spaced{
    line-height:2em;
}
.highlighted{
    color:teal;
}
.lg-2{
    font-size:1.2em;
}
.centered{
    text-align:center;
}
.img-holder{
    border-radius:100px;
    width:150px;
    height:150px;
    overflow:hidden;
    margin:auto;
    margin-bottom:20px;

    img{
        width:150px;
        height:150px;
    }
}
.touch .project-pane{
  max-width:100%;
  background-color:transparent;
  .overlay-pane{
      opacity:1;
      transform:translate3d(0,0,0);
  }
  .overlay-bg{
      opacity:1;
      transform:scale(3) rotateZ(30deg) translate3d(0,0,0);
  }
}
@media(max-width:768px) and (orientation:portrait){
  .proj-descript{
    padding:2em;
  }
}
@media(max-width:414px){
  .proj-descript{
    padding:2em;
  }
  .project-pic img{
      height:auto;
      width:100%;
  }
  .project-pane{
    height:400px;
    width:100%;
    background-color:transparent;
  }
}
