#projectTeaser{
  display:flex;
  flex-flow: row wrap;
  .left{
    text-align: right;
  }
  .container{
    overflow:hidden;
    padding:0 10px;
  }
  .homeCopy{
    height:400px;
    position:relative;
    .container{
      position:absolute;
      left:0;
      bottom:30px;
      padding:0;
    }
  }
}
.split{
  width:50%;
}
@media(max-width:414px){
  .split{
    width:100%;
  }
  #projectTeaser{
    .left{
      text-align: left;
    }
    .container{
      padding:0;
      margin-bottom:15px;
    }
    .homeCopy{
      height:200px;
      margin-bottom:50px;
      .container{
        top:0;
        bottom:0;
      }
    }
  }
}
