$button-size : 3.5rem; 
$transition: .3s; // increase this to see the transformations in slow-motion

@mixin transition($transition){
  -webkit-transition: all $transition ease-out;
  -o-transition: all $transition ease-out;
  -moz-transition: all $transition ease-out;
  transition: all $transition ease-out;
}

@mixin line {
  display: inline-block;
  width: $button-size*.8;
  height: $button-size/7;
  background: #aaa;
  @include transition($transition);
}

@mixin transformX($prop){
  -webkit-transform: $prop;
  -moz-transform:    $prop;
  -ms-transform:     $prop;
  -o-transform:      $prop;
  transform:         $prop;
}
 
:host {
  display: inline-block;
  padding: 0px;
  @include transition($transition);
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
  background:transparent;
  border: 0px;
  padding-bottom: 5px;
 
  &:hover {
    opacity: 1;
  }

  &:focus{
    outline:none;
  }
 
  &:active {
    transition: 0;
    outline:none;
  }
}


.lines {
   
  //create middle line
  @include line;
  position: relative; 
 
  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
   
   @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: $button-size/14 center;
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}

:host(.closeTxfm) .lines{
 
    /*hide the middle line*/
    background-color: transparent;
 
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
 
    // rotate the lines to form the x shape
    &:before{
      @include transformX(rotate3d(0,0,1,45deg)); 
    }
    &:after{
      @include transformX(rotate3d(0,0,1,-45deg)); 
    }
}