.blog{
	background-color:#DDC2A7;
}
.billboard{
	width:100%;
	height:300px;
	text-align:center;
	margin-bottom:20px;
	position:relative;
}
.billboard-bg{
	background-image:url('/images/whiteSands.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	opacity:.4;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-attachment:fixed;
}
.billboard-text{
	font-size:3em;
	font-weight:100;
	display: inline-block;
 	vertical-align: middle;
}
.billboard:before{
	content:"";
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
.expand-button{
	width:50px;
	height:50px;
	position:relative;

	svg{
		position:absolute;
	}
}
.expand-button, .blog-row-detail, .colored-block{
	display:inline-block;
	vertical-align:middle;
}
.colored-block{
	width:100px;
	height:100px;
	position:relative;
	overflow:hidden;
	background-color:rgba(255,255,255,.3);
	border-radius:51px;
	transition:opacity .2s ease;
}
.colored-block > img{
	position: absolute;
	left: 0;
	width: auto;
	height: 100%;
	top: 0;
}
.no-touch .colored-block{
	opacity:0.7;
}
.no-touch .blog-row:hover .colored-block{
	opacity:1;
}
.blog-row{
	margin-bottom: 1px;
	padding: 30px;
	background-color: rgba(100,100,100,.1);
}
.blog-row-detail{
	margin-left:20px;
}
.blog-row-title{
	width:40%;
}
.blog-row-date{
	width:15%;
}
.blog-row-title:after, .blog-row-date:after{
	content:"";
	display:block;
	width:0;
	border-bottom: 1px solid rgba(100,100,100,.1);
	transition: width .2s;
}
.blog-row-tags{
	width:15%;
}
.blog-row-detail > h4{
	opacity:0.5;
}
.blog-row-tag{
	padding:5px;
	border-radius:2px;
	background-color:rgba(255,255,255,.3);
	margin-right:5px;
}
.no-link-style{
	color:rgb(81, 87, 92);
}
.no-link-style:visited{
	color:rgb(81, 87, 92);
}