/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: transparent;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.bg-wrapper{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    z-index:0;
}
.feature-inner{
    height:100%;
    width:100%;
    text-align: center;
}
.full-page-image{
    width:100%;
    height:100%;
    position:relative;
}
#feature1{
    background-image: url("/images/yosemite.jpg");
    background-size: cover;
    background-position: 50% 10%;
}
#feature2{
    background-image: url("/images/low_contrast_linen.png");
    background-repeat: repeat;
}
.v-center-wrapper{
    display:table;
    height:100%;
    width:100%
}
.v-centered{
    display:table-cell;
    vertical-align: middle;
}
.btn-hollow{
    background-color:transparent;
}
.btn-white{
    color:#fff;
    border:1px solid #fff;
}
.blur-hero{
    width:100%;
    overflow:hidden;
    position:relative;
    height:1000px;
}
.blurBG{
    position: absolute;
    width: 100%;
    height:100%;
}
.whiteText{
    color:#eee;
}
#welcome{
    margin-left:10%;
    top:50%;
}
.contentpane{
    position:relative;
    width:100%;
}
.hero__background {
// This stretches the canvas across the entire hero unit
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // This positions the canvas under the text
    z-index: 1;
}
#top-pane{
    height:400px;
    //background-color:violet;
}
#blog-pane{
    height:auto;
    background-color:#E5E5E5;
}
#work-section{
    min-height:100%;
    display:inline;
}
#somethingElse-pane{
    display:inline-block;
}

.inner{
    height:100%;
    width:100%;
    content:" ";
    padding:5% 10%;
}
.full-height{
    height:100%;
}
preview-card img{
    height:200px;
    width:auto;
}
preview-card .preview{
    height:100px;
    display:block;
    max-height:100px;
    text-overflow:ellipsis;
    overflow:hidden;
}
.dark-grad{
    position:absolute;
    background-image:linear-gradient(transparent,rgba(0,0,0,.4));
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.work-pane{
    background-color:#EFEFEF;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:100% auto;
    padding-top:5%
}
$screen-sm:768px;
@media (max-width:$screen-sm){
    .work-pane{
        padding-top:10%;
    }
}
#work-dev{
    background-image:url('/images/stargate-poster.png');
}
#work-photo{
    background-image:url('/images/amaru.jpg');
    background-size:cover;
}
#work-vid{
}
.post-link{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis; 
}
.post-list{
    @include flexbox();
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-justify-content: center;
    justify-content:center;
}
#parallax-maybe{
    height:100%;
}
.parallax{
    -webkit-perspective:300px;
    perspective:300px;
    height: 100vh;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .parallax-group{
        position: relative;
        height: 100vh;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        /*-webkit-transform:translate3d(800px, 0, -500px) rotateY(30deg);
        transform: translate3d(800px, 0, -500px) rotateY(30deg);
        @include transition("all .5s");*/
    }
    .parallax-layer{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .parallax-base{
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
    }
    .parallax-back{
        -webkit-transform:translate3d(0,-232px,-300px) scale(2);
        transform:translate3d(0,-232px,-300px) scale(2);
    }
}
.transparentBG{
  opacity:1;
  background-image:url('/images/boulder.jpg');
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;
  width:100%;
  height:100%;
}

.work-title>h2{
    text-transform:uppercase;
    margin-bottom:5px;
}
.work-text{
    margin-left:10%;
    margin-right:10%;
    color:#999;
    border-top: 1px solid #999;
    @include transition("transform 300ms ease, -webkit-transform 300ms ease, opacity 100ms ease");
    @include transform("rotateX(0deg)");
    -webkit-transform-origin:0% 0%;
    transform-origin:0% 0%;
    opacity:1;
}
app-bar /deep/ .social .fa-twitter /deep/ paper-ripple {
    color:#4099FF;
}
app-bar /deep/ .social .fa-facebook /deep/ paper-ripple {
    color:#3B5998;
}
app-bar /deep/ .social .fa-google-plus /deep/ paper-ripple {
    color:#d34836;
}
.work-text-3d{
    -webkit-perspective: 400px;
    perspective:400px;
    -webkit-perspective-origin:50% 50%;
    perspective-origin:50% 50%;
    overflow-x:hidden;
    overflow-y:scroll;
}
.work-text.flip-up{
    @include transform("rotateX(-90deg)");
    opacity:0;
}
