/**
 * Site header
 */
.site-header {
    padding-top:5px;
    padding-bottom:5px;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 23px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    vertical-align: middle;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: transparent;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: $spacing-unit;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: 5%;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    float: right;
    padding-right: 5%;
    text-align:right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding-bottom: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    text-align:center;
    color:#eee;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    padding-right: 20%;
    padding-left: 20%;
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    
    img{
        max-width: 100%;
    }
}
.bg-wrapper{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    z-index:0;
}
.feature-inner{
    height:100%;
    width:100%;
    text-align: center;
}
.full-page-image{
    width:100%;
    height:100%;
    position:relative;
}
#feature1{
    background-image: url("/images/yosemite.jpg");
    background-size: cover;
    background-position: 50% 10%;
}
#feature2{
    background-image: url("/images/low_contrast_linen.png");
    background-repeat: repeat;
}
.v-center-wrapper{
    display:table;
    height:100%;
    width:100%
}
.v-centered{
    display:table-cell;
    vertical-align: middle;
}
.btn-hollow{
    background-color:transparent;
}
.btn-white{
    color:#fff;
    border:1px solid #fff;
}
.blur-hero{
    width:100%;
    overflow:hidden;
    position:relative;
    height:1000px;
}
.blurBG{
    position: absolute;
    width: 100%;
    height:100%;
}
.whiteText{
    color:#eee;
}
#welcome{
    margin-left:10%;
    top:50%;
}
.contentpane{
    position:relative;
    width:100%;
}
.hero__background {
// This stretches the canvas across the entire hero unit
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // This positions the canvas under the text
    z-index: 1;
}
#top-pane{
    height:100%;
    //background-color:violet;
}
#blog-pane{
    height:auto;
}
#work-section{
    min-height:100%;
    display:inline;
}
#somethingElse-pane{
    display:inline-block;
}

.inner{
    height:100%;
    width:100%;
    content:" ";
    padding:5% 10%;
}
.full-height{
    height:100%;
}
preview-card img{
    width: auto;
    height: 100%;
}

preview-card .preview{
    height:4.6em;
    display:block;
    overflow:hidden;
}
.dark-grad{
    position:absolute;
    background-image:linear-gradient(transparent,rgba(0,0,0,.4));
    top:0;
    bottom:0;
    left:0;
    right:0;
}
flip-label:hover{
    cursor:pointer;
}
.transparent-link{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.work-pane{
    background-color:#EFEFEF;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:100% auto;
    padding-top:5%
}
$screen-sm:768px;
@media (max-width:$screen-sm){
    .work-pane{
        padding-top:10%;
    }
}
#work-dev{
    background-image:url('/images/stargate-poster.png');
}
#work-photo{
    background-image:url('/images/amaru.jpg');
    background-size:cover;
}
#work-vid{
}
.post-link{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis; 
}
.post-list{
    @include flexbox();
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-justify-content: center;
    justify-content:center;
}
#parallax-maybe{
    height:91%;
}
.parallax{
    -webkit-perspective:300px;
    perspective:300px;
    height: 100vh;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .parallax-group{
        position: relative;
        height: 100vh;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        /*-webkit-transform:translate3d(800px, 0, -500px) rotateY(30deg);
        transform: translate3d(800px, 0, -500px) rotateY(30deg);
        @include transition("all .5s");*/
    }
    .parallax-layer{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .parallax-base{
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
    }
    .parallax-back{
        -webkit-transform:translate3d(0,-280,-300px) scale(2);
        transform:translate3d(0,-280,-300px) scale(2);
    }
}
.transparentBG{
  opacity:1;
  background-color:transparent;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;
  width:100%;
  height:100%;
}

#brush-bg{
    background-image:url('../images/brush.png');
}

#particles-js{
    height:100%;
    width:100%;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    left: 0;
    box-shadow: 0 1px 10px;
    background-color:$blog-grey;
}

.nav{
    position:absolute;   
    font-weight:500;

    ul{
        list-style: none;
    }

    .horizontal li{
        display:inline;
        padding:10px 20px;
        border-top: dotted 1px rgba(0,0,0,.1);
        margin-right:5px;
    }
}

#desktop-nav{
    top:0;
    right:0;
    margin-top: 20px;
    margin-right: 20px;
    font-size:.8em;
    z-index: 2;
}

#mobile-nav{
    text-align:center;
    width: 100%;
    margin: 0;
    top: 30%;
    font-size:1em;

    li{
        margin:20px;
        overflow:hidden;
    }
}

.touch #desktop-nav{
    display:none;
}

.list-text{
    position:relative;
    opacity:0;
    top:-1.5em;
    -webkit-transition:top .2s ease, opacity .2s ease;
    transition:top .2s ease, opacity .2s ease;
}

.reveal .list-text{
    opacity:1;
    top:0em;
}

.blog-white{
    color: rgba(255,255,255,0.8);
}

.blog-l-white{
    color: rgba(255,255,255,0.4);
}
.blog-grey{
    color: rgba(10,10,10,0.8);
}

.blog-l-grey{
    color: rgba(10,10,10,0.4);
}

.work-title>h2{
    text-transform:uppercase;
    margin-bottom:5px;
}
.work-text{
    margin-left:10%;
    margin-right:10%;
    color:#999;
    border-top: 1px solid #999;
    @include transition("transform 300ms ease, -webkit-transform 300ms ease, opacity 100ms ease");
    @include transform("rotateX(0deg)");
    -webkit-transform-origin:0% 0%;
    transform-origin:0% 0%;
    opacity:1;
}
app-bar /deep/ .social .fa-twitter /deep/ paper-ripple {
    color:#4099FF;
}
app-bar /deep/ .social .fa-facebook /deep/ paper-ripple {
    color:#3B5998;
}
app-bar /deep/ .social .fa-google-plus /deep/ paper-ripple {
    color:#d34836;
}
.work-text-3d{
    -webkit-perspective: 400px;
    perspective:400px;
    -webkit-perspective-origin:50% 50%;
    perspective-origin:50% 50%;
    overflow-x:hidden;
    overflow-y:scroll;
}
.work-text.flip-up{
    @include transform("rotateX(-90deg)");
    opacity:0;
}
.post{
    h1,h2,h3,h4,h5{
        padding-top:20px;
    }
}

#pane1-text{
  z-index:101;
  font-weight:300;
  margin-bottom:15px;
}
.logo{
    display:inline-block;
    width:40px;
    height:40px;
    border-radius:40px;
    background: url('/images/pickle.svg') no-repeat;
    vertical-align:middle;
}
.flexbox{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-flow: row wrap;
    flex-flow:row wrap;
    -webkit-align-items:center;
    align-items:center;
}
.flexbox>a{
    display:-webkit-flex;
    display:flex;
    margin-right:5px;
}
.ctr{
    text-align:center;
}
.snapshot{
    width:50px;
    height:50px;
    background-size:cover;
    background-position:center center;
    display: inline-block;
    border-radius: 25px;
}
.section-content{
    position:relative;
}
#interests .section-content-block{
    width:90%;
    height:50vh;
    position:relative;
}
.section-content-visual{
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    left:0;
    height:100%;
}
.slick-content img{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 100%;
    bottom: 0;
}
.touch .slick-content img{
    left:0;
}
.no-touch .slick-content img{
    right:0;
}
.section-content-text{
    width:50%;
}
.section-content-block{
    padding:5%;
}
.section-header{
    margin-bottom:50px;
    margin-top: 50px;
}

.section-header-line{
    width: 10%;
    height: 1px;
    background-color: grey;
}
.section-content-block{
    position: relative;
}
.section-content-block:nth-child(odd){
    margin-left:15px;
}
.section-content-block:nth-child(even){
    margin-right:15px;
}
.section-content-block:nth-child(even) .section-content-text{
    left: 50%;
    position:relative;
}
.white-space-lg{
    padding-top:10%;
}
.image-placeholder{
    opacity:0.2;
    font-size:14em;
    position:absolute;
    bottom:0;
}
.image-placeholder.right{
    right:0;
}
.image-placeholder.left{
    left:0;
}
.slick-content{
    position:relative;
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow:hidden;
    background-color: white;
}
.slick-dots{
    top:20px;
}
.slick-dots li button:before {
    content:"o"
}
.slick-button{
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    height: 100%;
}
.slick-bg{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:0;
}
.nextArrow{
    right: 0;
}
.prevArrow{
    left:0;
}
.slick-container{
    position:relative;
}
.slick-text{
    position: absolute;
    bottom: 0px;
    z-index: 3;
    text-align: center;
    left: 0;
    width: 100%;
}
.no-touch .slick-text{
    text-align: left;
    top:40%;
    left:5%;
}
.glass{
    height:20%;
    width: 100%;
    background-color: rgba(100,100,100,0.6);
    position: absolute;
    z-index: 2;
    bottom:0;
    left:0;
}
.no-touch .glass{
    height: 33.33%; 
}
.pink-glass{
    background-color: rgba(252,122,87,0.6);
}
.blue-glass{
    background-color:rgba(93,183,222,0.6);
}
.no-touch .glass{
    height: 200%;
    transform: rotateZ(-25deg) translateX(-70%);
}
#vapor-text{
    font-family: 'Ubuntu', sans-serif;
    font-size:4em;
}
.btn-default{
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
}
.btn-md{
    padding: 10px 20px;
}
line {
  stroke: rgba(0,0,0,.4);
  stroke-width: 1.5px;
}

#wave-vis path {
  fill: none;
  stroke: rgb(175,175,175);
  stroke-width: 12px;
  stroke-linecap: round;
}

.touch #wave-vis path{
    stroke-width: 6px;
}

.touch #hamburger-button{
    display:block;
}

.no-touch #hamburger-button{
    display:none;
}
.no-touch #menu-holder{
    display:none;
}

#hamburger-button{
    position:fixed;
    z-index:100;
    overflow:hidden;
    border-radius: 100px;
    height: 64px;
    width: 64px;
    top: 20px;
    right: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,.3);
}
.touch #menu-holder{
    position:fixed;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: 3;
}
.touch #menu-back{
    background-color:white;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transform: scale(3) rotateZ(45deg) translate(100%,0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.touch .open #menu-back{
    opacity:1;
    transform: scale(3) rotateZ(45deg) translate(0,0);
}

#work .project-pane{
    height:500px;
    background-color:rgba(255,255,255,.7);
    position:relative;
    overflow:hidden;
}
.project-pane:hover{
    pointer:cursor;
}
.project-pane:hover .overlay-pane{
    opacity:1;
    -webkit-transform: translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
.project-pane:hover .overlay-bg{
    opacity:1;
    -webkit-transform:scale(3) rotateZ(30deg) translate3d(0,0,0);
    transform:scale(3) rotateZ(30deg) translate3d(0,0,0);
}
.project-pic{
    position: absolute;
    top: 0;
    height:100%;
}
.project-pic.right{
    right:0;
}
.project-pic.left{
    left:0;
    width:100%;
}
.project-pic img{
    height:100%;
    width:auto;
    min-width:100%;
}
.text-pane{
    padding:10%;
}
.overlay-pane{
    padding:30px;
    height:100%;
    position:relative;
    opacity:0;
    -webkit-transition:opacity .2s ease, -webkit-transform .2s ease;
    transition:opacity .2s ease, transform .2s ease;
    -webkit-transform:translate3d(0,30px,0);
    transform:translate3d(0,30px,0);
}
.overlay-bg{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: scale(3) rotateZ(30deg) translate3d(-100%, 50%, 0);
    transform: scale(3) rotateZ(30deg) translate3d(-100%, 50%, 0);
    -webkit-transition:opacity .8s ease, -webkit-transform .5s ease-out;
    transition: opacity .8s ease, transform .5s ease-out;
    left: 0;
    top: 0;
    z-index:0;
}
.proj-descript{
    position:absolute;
    bottom:0;
    left:0;
    padding:40px;
    color:#fff;
    z-index:1;
}

#work .row{
    margin-left:0;
    margin-right:0;
    margin-bottom:15px;
}

#work [class^="col"]{
    padding-right:0;
}

#work [class^="col"]:last-child{
    padding-right:15px;
}

.descript-line{
    width:50px;
    max-width:100%;
    height:1px;
    background-color:teal;
    margin-bottom:10px;
}

.double-spaced{
    line-height:2em;
}
.highlighted{
    color:teal;
}
.lg-2{
    font-size:1.2em;
}
.centered{
    text-align:center;
}
.img-holder{
    border-radius:100px;
    width:150px;
    height:150px;
    overflow:hidden;
    margin:auto;
    margin-bottom:20px;

    img{
        width:150px;
        height:150px;
    }
}
#connect{
    background-color:#F6F6F6;
    padding:10%;
}
#connect [class^="col"]{
    margin-bottom:30px;
}
.touch .social-links{
    text-align:center;
}
.social-links{
    font-size: 2em;
}
.social-links > *{
    display:inline-block;
}
.invisi-button{
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
}

@media (max-width:768px){
    #interests .section-content-block{
        height:75vh;
        position:relative;
        margin:0;
        width:100%;
    }
}
@media (max-width:375px){
    #work [class^="col"]{
        padding-right:15px;
        margin-bottom:10px;
    }
}